<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lab.Mapper.BorrowReturnMapper">
<!--    借设备-->
    <insert id="insertBorrow" parameterType="com.example.lab.Entity.BorrowReturn" statementType="CALLABLE">
        {call borrow_equipment(
        #{equipmentName},#{number,mode=IN},#{borrower,mode=IN})}
    </insert>
    <insert id="returnBorrow" parameterType="com.example.lab.Entity.BorrowReturn" statementType="CALLABLE">
        {call return_equipment(
        #{borrowId},#{isDamage,mode=IN})}
    </insert>
    <update id="update" parameterType="com.example.lab.Entity.BorrowReturn" statementType="CALLABLE">
        {call update_borrow_equipment(
        #{borrowId},#{equipmentId,mode=IN},#{equipmentName,mode=IN},#{number,mode=IN},#{borrower,mode=IN})}
    </update>
    <select id="get" statementType="CALLABLE">
        {call select_borrow_return_equipment()}
    </select>
</mapper>